<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="footer" th:fragment="bottom">
        <div class="ly-wrap">
            <ul class="ly-fl about-us">
                <li>
                    <dl>
                        <dt><a href="https://www.ciweimao.com/index">首页</a></dt>
                        <dd><a target="_blank" href="https://www.ciweimao.com/index/sitemap">网站地图</a></dd>
                        <dd><a target="_blank" href="https://www.ciweimao.com/index/about-us" rel="nofollow">关于刺猬猫</a></dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt>联系与合作</dt>
                        <dd><a target="_blank" href="https://www.ciweimao.com/index/contact-us" rel="nofollow">联系我们</a></dd>
                        <dd><a target="_blank" href="https://www.ciweimao.com/index/join-us" rel="nofollow">加入我们</a></dd>
                        <!-- <dd><a target="_blank" href="">帮助中心</a></dd> -->
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt>移动客户端</dt>
                        <dd><a target="_blank" href="https://www.ciweimao.com/index/app/iphone" rel="nofollow">刺猬猫 iPhone 版</a></dd>
                        <dd><a target="_blank" href="https://www.ciweimao.com/index/app/android" rel="nofollow">刺猬猫 Android 版</a></dd>
                        <dd><a target="_blank" href="https://www.ciweimao.com/index/app/ipad" rel="nofollow">刺猬猫 iPad 版</a></dd>
                    </dl>
                </li>
            </ul>
            <div class="follow-us Reporting ly-fr">
                <div class="hd">举报中心</div>
                <div class="bd" id="">
                    <a class="J_footReport" href="javascript:;">我要举报</a>
                </div>
            </div>
            <div class="ly-fr follow-us">
                <div class="hd">关注我们</div>
                <div class="bd" id="J_QrCodeWx">
                    小说资源互助群：274536193<br>
                    刺猬猫问题反馈群：436473245<br>
                    刺猬猫官方微信：<i><b></b></i>
                </div>
            </div>
        </div>
        <div class="copyright">
            Copyright &copy; 2015 Hangzhou Fantasy Technology NetworkCo.,Ltd.
        </div>
        <div class="record">
            <a target="_blank" style="margin-left: 10px">杭州狂想网络科技有限公司&nbsp&nbsp</a>
            <img src="https://www.ciweimao.com/resources/images/record.png" style="position: relative;top: 4px;">
            <a target="_blank" href="https://www.beian.gov.cn/portal/registerSystemInfo?recordcode=33010802009271">浙公网安备 33010802009271号</a>
            <a target="_blank" href="https://beian.miit.gov.cn/" style="margin-left: 10px">浙ICP备14025736号-3</a><a target="_blank" style="margin-left: 10px">浙网文[2018]3439-247</a>
            <p>请所有作者发布作品时务必遵守国家互联网信息管理办法规定，我们拒绝任何内容违法的小说，一经发现，即作删除！</p>
            <p>本站所收录作品、社区话题、书库评论及本站所做之广告均属个人行为，与本站立场无关</p>
        </div>
    </div>
    <div class="copyright">
        Copyright &copy; 2015 Hangzhou Fantasy Technology NetworkCo.,Ltd.
    </div>

</div>

</html>